<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>
        @font-face{
            font-family: 'WILLIAM-regular';
            src: url('/static/fonts/WILLIAM/WILLIAM-Regular.ttf') format('truetype');
        }
        * {
            font-family: WILLIAM-regular;
        }
        text.shadow {
          stroke: white;
          stroke-width: 4px;
          opacity: 0.8;
        }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://unpkg.com/d3-3d/build/d3-3d.min.js"></script>
        <script src="static/js/barchart.js"></script>
        <script type=text/javascript>
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

    </head>
    <body>
        <h1>Rap Datavis</h1>
        <input type="text" id="words_query">
        <span>Number of nearest neighbors:</span>
        <select name="num_nns" id="num_nns_query">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <span>Nearest Neighbors origin at:</span>
        <select name="num_nns" id="nns_origin_at">
          <option value="centroid" selected>centroid</option>
          <option value="query">query word</option>
        </select>
        <button type="button" id="myBtn">Search Words</button>
        <div id="my_dataviz"></div>
    </body>
</html>
